.ValidPassword{
    background: #EFF5FF;
    outline: solid 3px #2ecd54;
    outline-offset: -2px;
    border-radius: 5px;
}

.InvalidPassword{
    background: #EFF5FF;
    outline: solid 3px red ;
    outline-offset: -2px;
    border-radius: 5px;
}

.progressBar{
    width: 70% ;

}
